.container {
	z-index: -1;
	width: 100%;
	max-width: 914px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: white;
	margin-bottom: 20px;
}
.box {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
.img_box {
	background-color: transparent;
	cursor: pointer;
	width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user_img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.img_container {
	position: relative;
}
.carousel_wrapper {
	overflow: hidden;
}
.carousel {
	width: 100%;
	height: auto;
	display: flex;
	transform: translate3d(0, 0, 0);
	transition: transform 0.2s;
}

.arrow_btn {
	z-index: 9999;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.next_btn {
	position: absolute;
	top: 50%;
	right: 10px;
}
.prev_btn {
	position: absolute;
	top: 50%;
	left: 10px;
}
.next_arrow {
	width: 9px; /* 사이즈 */
	height: 9px; /* 사이즈 */
	border-top: 2px solid rgba(0, 0, 0, 0.3); /* 선 두께 */
	border-right: 2px solid rgba(0, 0, 0, 0.3); /* 선 두께 */
	transform: rotate(45deg); /* 각도 */
	position: absolute;
	top: 8px;
	right: 8px;
}
.prev_arrow {
	width: 9px; /* 사이즈 */
	height: 9px; /* 사이즈 */
	border-top: 2px solid rgba(0, 0, 0, 0.3); /* 선 두께 */
	border-right: 2px solid rgba(0, 0, 0, 0.3); /* 선 두께 */
	transform: rotate(225deg); /* 각도 */
	position: absolute;
	top: 8px;
	left: 8px;
}
.user {
	flex: 1;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.user_name {
	font-size: 14px;
	font-weight: 600;
}
.user_info {
	font-size: 12px;
	opacity: 0.8;
}
.circle {
	position: relative;
	display: flex;
	padding-right: 7px;
	align-items: center;
	background-color: transparent;
	cursor: pointer;
	border: none;
}
.dot {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: black;
	margin-left: 2px;
}
.feed_image {
	height: auto;
	width: 100%;
	object-fit: cover;
}
.section {
	margin-left: 10px;
}
.icon {
	position: relative;
	margin-top: 8px;
	display: flex;
	justify-content: space-between;
}
.column_1 {
	display: flex;
}
.column_2 {
	margin-right: 15px;
}
.column_3 {
	position: absolute;
	left: 280px;
	top: 5px;
}
.dot_container {
	display: flex;
}
.i {
	background-color: inherit;
	border: none;
	margin-right: 10px;
	cursor: pointer;
}
.heart {
	color: red;
}
.comment {
	margin-top: 10px;
	font-size: 14px;
}
.like {
	font-weight: 600;
	margin-bottom: 10px;
}
.comment_info {
	margin-bottom: 5px;
}
.name {
	font-weight: 600;
	margin-right: 5px;
}
.comment_more {
	opacity: 0.5;
	margin-bottom: 3px;
	background-color: inherit;
	border: none;
	cursor: pointer;
}
.comment_add {
	display: flex;
	flex-direction: column;
}
.date {
	font-size: 10px;
	opacity: 0.5;
	margin-bottom: 5px;
}
.line {
	margin: 0;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}
.comment_form {
	margin: 10px 0px;
	margin-left: 10px;
}
.comment_form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.comment_input {
	border: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	max-height: 80px;
	box-sizing: border-box;
	margin-left: 10px;
	flex: 1;
	width: 100%;
	overflow: auto;
	resize: none;
}
.comment_none {
	height: 22px;
}
.comment_done {
	height: 100%;
}
.comment_input::placeholder {
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comment_input:focus {
	border: none;
	outline: none;
}
.comment_btn {
	background-color: transparent;
	color: rgb(190, 228, 253);
	border: none;
	font-size: 14px;
	font-weight: 600;
	margin-right: 15px;
	cursor: pointer;
}
.loading {
	width: 100%;
	z-index: 99999;
	background-color: inherit;
}
.menu {
	z-index: 9999;
	position: absolute;
	background-color: white;
	width: 70px;
	display: flex;
	top: 30px;
	right: -10px;
	flex-direction: column;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
.menu button {
	background-color: inherit;
	border: none;
	margin-bottom: 1px;
	cursor: pointer;
}
