.dot {
	width: 7px;
	height: 8px;
	border-radius: 50%;
	background-color: rgb(0, 149, 246);
	margin-right: 4px;
}
.blue {
	background-color: rgb(0, 149, 246);
}
.none {
	background-color: rgba(0, 0, 0, 0.5);
}
