.img {
  position: absolute;
  top: 98px;
  left: 150px;
  width: 241px;
  opacity: 0;
  visibility: hidden;
}
.column_1 {
  background-size: 454px 618px;
  background-image: url('https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png');
  height: 618px;
  width: 454px;
}
.imgContainer {
  position: relative;
}

.first {
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.second {
  opacity: 1;
  visibility: visible;
}
.formContainer,
.search {
  border: 0.2px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.font {
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
}
.column_2 {
  width: 350px;
}
