.header {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 5px 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.container {
	max-width: 957px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title {
	font-size: 35px;
	font-family: 'billabong';
}
@font-face {
	font-family: 'billabong';
	src: url(billabong.ttf);
}
.searchBar {
	height: 28px;
	width: 220px;
	cursor: text;
	position: relative;
}
.search::placeholder {
	font-size: 15px;
}
.searchIcon {
	height: 100%;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 10px;
}
.search {
	width: 100%;
	height: 28px;
	background-color: #fafafa;
	padding: 0px 26px;
}
.searchList {
	background-color: white;
	box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.5);
	width: 300px;
	height: 55px;
	position: absolute;
	top: 40px;
	left: -30px;
	z-index: 9999;
}
.searchList {
	display: flex;
	align-items: center;
}
.image {
	width: 50px;
	height: 50px;
	margin: 0px 5px;
}
.userImage {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.name {
	margin-left: 5px;
	flex: 1 1 auto;
	font-weight: 600;
	font-size: 14px;
}
.nickname {
	font-weight: 500;
	color: #8e8e8e;
}
.unfollow {
	background-color: inherit;
	border: none;
	margin-right: 10px;
	font-weight: 600;
	font-size: 13px;
	color: #8e8e8e;
	cursor: pointer;
}
.follow {
	background-color: inherit;
	border: none;
	margin-right: 10px;
	font-weight: 600;
	font-size: 13px;
	color: #0095f6;
	cursor: pointer;
}
.timer {
	cursor: pointer;
	border: none;
	height: 100%;
	display: flex;
	align-items: center;
	opacity: 0.5;
	position: absolute;
	top: 0;
	right: 10px;
}
.search:focus {
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.4);
}
.searchDiv {
	cursor: text;
	width: 100%;
	position: absolute;
	top: 0;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.4);
	z-index: 999;
	background-color: #fafafa;
}
.searchDiv span {
	margin-right: 3px;
	opacity: 0.5;
}
.font {
	font-size: 15px;
}
.nav {
	display: flex;
}
.Icon {
	font-size: 12px;
	background-color: inherit;
	border: none;
	cursor: pointer;
}
.planeIcon,
.compassIcon,
.heartIcon,
.userIcon {
	margin-left: 20px;
}
.userIcon {
	position: relative;
}
.button {
	position: relative;
}
.menuCon {
	position: absolute;
	top: 40px;
}
.rhombus {
	transform: rotate(45deg);
	height: 14px;
	width: 14px;
	background-color: white;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
	z-index: -1;
	position: absolute;
	left: 25px;
	top: -5px;
}
.menu {
	width: 100px;
	background-color: white;
	position: relative;
	border: none;
}
.menubar {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	position: absolute;
	background-color: white;
	z-index: 2;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	right: 50px;
	top: 2px;
	font-size: 14px;
	font-weight: 500;
}
.menubar button {
	width: 100%;
}
.post {
	margin-top: 3px;
}
.menubar button {
	background-color: inherit;
	border: none;
	margin-bottom: 5px;
	cursor: pointer;
}
@media (max-width: 500px) {
	.searchBar {
		display: none;
	}
}
