.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.container {
	max-width: 957px;
	width: 90%;
	display: flex;
	justify-content: space-between;
}
.title {
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
}
.searchBar {
	height: 28px;
	width: 220px;
	cursor: text;
	position: relative;
}
.search::placeholder {
	font-size: 15px;
}
.searchIcon {
	height: 100%;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 10px;
}
.search {
	width: 100%;
	height: 28px;
	background-color: #fafafa;
	padding: 0px 26px;
}
.timer {
	height: 100%;
	display: flex;
	align-items: center;
	opacity: 0.5;
	position: absolute;
	top: 0;
	right: 10px;
}
.search:focus {
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.4);
}
.searchDiv {
	cursor: text;
	width: 100%;
	position: absolute;
	top: 0;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.4);
	z-index: 999;
	background-color: #fafafa;
}
.searchDiv span {
	margin-right: 3px;
	opacity: 0.5;
}
.font {
	font-size: 15px;
}
.nav {
	display: flex;
}
.Icon {
	font-size: 12px;
	background-color: inherit;
	border: none;
	cursor: pointer;
}
.planeIcon,
.compassIcon,
.heartIcon,
.userIcon {
	margin-left: 20px;
}
@media (max-width: 500px) {
	.searchBar {
		display: none;
	}
}
