.container {
	position: fixed;
	top: 88px;
	width: 312px;
	padding-left: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.User_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.User_icon {
	padding-right: 18px;
}
.User_icon img {
	border-radius: 50%;
	width: 56px;
	height: 56px;
}
.User_info {
	width: 70%;
}
.user_name {
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 2px;
}
.name {
	font-size: 14px;
	opacity: 0.6;
}
.User_tmi {
	width: 15%;
	color: rgb(0, 149, 246);
	font-size: 12px;
	font-weight: 600;
	display: flex;
	justify-content: flex-end;
}
.info_container {
	display: flex;
	justify-content: space-between;
}
.info_user {
	font-weight: 600;
	opacity: 0.5;
	font-size: 14px;
}
.info_all {
	font-size: 12px;
	font-weight: 600;
}
.nav_bar {
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.nav {
	font-weight: 500;
	max-width: 100%;
	display: flex;
	margin-bottom: 10px;
}
.ul {
	width: 100%;
	margin-right: 0;
	display: block;
}
.li {
	display: inline-block;
	font-size: 11px;
	list-style: none;
	color: #c7c7c7;
}
.li::after {
	content: '\00B7';
	margin: 0 0.25em 0 0.25em;
}
.li:last-child::after {
	content: '';
}
.content {
	font-size: 11px;
	color: #c7c7c7;
}
