@media (max-width: 480px) {
	.form {
		max-width: 380px;
	}
}
.form {
	z-index: 9999;
	border: 1px solid rgba(0, 0, 0, 0.4);
	width: 445px;
	background-color: white;
	display: flex;
	flex-direction: column;
	position: relative;
}
.times {
	position: absolute;
	top: -23px;
	right: -23px;
	cursor: pointer;
	background-color: inherit;
	border: none;
	border-radius: 50%;
}
.imgBox {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.img {
	margin: 5px;
	width: 100px;
	height: 100px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
.image {
	display: none;
}
.button {
	height: 50px;
	background-color: inherit;
	color: skyblue;
	border: none;
	border-top: 2px solid skyblue;
	border-bottom: 2px solid skyblue;
	cursor: pointer;
	margin-bottom: 5px;
}
.button:hover {
	background-color: skyblue;
	color: white;
}
.text {
	height: 100px;
	resize: none;
	border: none;
}
.text:focus {
	border: none;
	outline: none;
}
.post {
	background-color: aqua;
	border: none;
	height: 30px;
	cursor: pointer;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
}
